@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Pet Gallery";
}

<div class="container mt-5">

    <!-- 🐱 CATS SECTION -->
    <h3 class="mb-3 text-center" style="color: #4A90E2; font-size: 50px; font-family: 'Dancing Script' , cursive;">Cats</h3>
    <div class="row">

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="https://media.4-paws.org/d/2/5/f/d25ff020556e4b5eae747c55576f3b50886c0b90/cut%20cat%20serhio%2002-1813x1811-720x719.jpg" class="card-img-top">
                <div class="card-body text-center">
                    <h5>Milo</h5>
                    <p>Playful and friendly.</p>
                    <a href="/Home/Application?name=Milo&type=Cat" class="btn btn-primary w-100">
                        Adopt
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="https://www.lilyskitchen.co.uk/cdn/shop/articles/2025-PetCareHeader-Cat-OverweightCats_0abdf28b-ebde-4892-866c-3d6f1bb9fba9.jpg?v=1771346113" class="card-img-top">
                <div class="card-body text-center">
                    <h5>Luna</h5>
                    <p>Calm and sweet.</p>
                    <a href="/Home/Application?name=Luna&type=Cat" class="btn btn-primary w-100">
                        Adopt
                    </a>
                </div>
            </div>
       </div>


        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="https://images.ctfassets.net/440y9b545yd9/5187hBnPovxaLUBveJ9Jqg/f2ca50709c99fbb18ca042faefeee393/Misconception_Black_Cats_850.jpg" class="card-img-top">
                <div class="card-body text-center">
                    <h5>Oliver</h5>
                    <p>Curious and playful.</p>
                        <a href="/Home/Application?name=Oliver&type=Cat" class="btn btn-primary w-100">
                            Adopt
                        </a>
                </div>
            </div>
        </div>

    </div>

    <!-- 🐶 DOGS SECTION -->
    <h3 class="mb-3 text-center" style="color: #4A90E2; font-size: 50px; font-family: 'Dancing Script' , cursive;">Dogs</h3>
    <div class="row">

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="https://static.scientificamerican.com/sciam/cache/file/1FD432BD-1DC9-4EE3-B2F3494EBAE7DCAE_source.jpg" class="card-img-top">
                <div class="card-body text-center">
                    <h5>Buddy</h5>
                    <p>Loyal and energetic.</p>
                        <a href="/Home/Application?name=Buddy&type=Dog" class="btn btn-primary w-100">
                            Adopt
                        </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="https://www.tierschutzbund.de/fileadmin/_processed_/8/1/csm_Listenhund_Michaela__Weidefeld_liegend_im_Gras_c-DTSchB_a9a551d4d8.jpg" class="card-img-top">
                <div class="card-body text-center">
                    <h5>Max</h5>
                    <p>Friendly and protective.</p>
                        <a href="/Home/Application?name=Max&type=Dog" class="btn btn-primary w-100">
                            Adopt
                        </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="https://ca-times.brightspotcdn.com/dims4/default/fef5695/2147483647/strip/true/crop/1245x799+0+0/resize/1200x770!/quality/75/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F03%2Fd8%2Fad409af4471c842f69a53d2e8371%2Fapartment-dogs-corgi-hero.jpg" class="card-img-top">
                <div class="card-body text-center">
                    <h5>Alphy</h5>
                    <p>Playful and Lovely.</p>
                        <a href="/Home/Application?name=Alphy&type=Dog" class="btn btn-primary w-100">
                            Adopt
                        </a>
                </div>
            </div>
        </div>

    </div>

</div>