<div class="container mt-5">
    <div class="row align-items-center p-4 border rounded bg-light">

        <!-- LEFT SIDE: IMAGE -->
        <div class="col-md-6 text-center">
            <img src="https://t4.ftcdn.net/jpg/05/25/78/39/360_F_525783975_Iha3bkmoQWBeIC5z5sCQSQRtOw3QIHG4.jpg"
                 class="img-fluid rounded shadow"
                 alt="Cat and Dog">
        </div>

        <!-- RIGHT SIDE: TEXT -->
        <div class="col-md-6 text-center">


            <h3 class="fw-bold mt-1"
                style="color: #4A90E2; font-size: 90px; font-family: 'Dancing Script' , cursive;">
                Pick meow!
            </h3>

            <p class="mt-2">
                Find your purrfect companion! Be a pawrent today!
            </p>

            <a asp-controller="Home" asp-action="Catalogue" class="btn btn-primary">
                Visit now
            </a>

        </div>
        <div class="container mt-5 p-4 text-center">
            <h3 class="fw-bold" style="color: #4A90E2">Pick me, Choose me, Love me, Pet me, Adopt me!</h3>
            <p> Every cat and dog deserves a loving home.</p>
            <p> Home who can provide love and care. </p>
            <p> Pick Meow helps connect cats and dogs with loving homes that they'll share their life with.</p>
            <p> Note: We screen every potential pawrent to ensure that every pets will be healthy and safe and sound! </p>
        </div>


    </div>
</div>